.app{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
    rgba(255,255,255,0),
    rgba(255,255,255,0.2)
  ),
  url("./images/bg-blue.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

form{
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
}

h1{
  color: #0C51A1;
  text-align: center;
}

button{
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #ff671f;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
  border: 2px solid #ff671f;
  border-radius: 5px;
}